$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


html, body {
  font-family: Montserrat, serif;
  font-size: 16px;
  background-color: #fff;
}

button {
  &.active {
    background: red;
  }
}